<div class="container">
  <form #signInForm="ngForm" class="form" (ngSubmit)="signIn()">
    <img class="logo" src="/assets/images/logo.png"/>
    <div class="sign-in">Sign In</div>
    <div class="sub-text">to acquire awesome bots</div>
    <input
      name="email"
      required
      email
      #email = "ngModel"
      [(ngModel)]="credentials.email"
      placeholder="Email Address"
      type="text"
    />
    <em *ngIf="email.errors?.['required'] && email.touched && email" class="error">Email field is required</em>
    <em *ngIf="email.errors?.['email'] && email.touched && email" class="error">Email format is invalid</em>
    <input
      name="password"
      required
      #password = "ngModel"
      [(ngModel)]="credentials.password"
      placeholder="Password"
      type="password"
    />
    <em *ngIf="password.invalid && password.touched" class="error">Password field is required</em>
    <div class="buttons">
      <button type="submit" [disabled]="signInForm.form.invalid" class="button cta">
        Sign In
      </button>
    </div>
    <div class="signInError" *ngIf="signInError">
      Login Failed
    </div>
  </form>
</div>
